<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shoot2Kill.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C553A52AA9D135002BCFB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C553BE2AA9D137002BCFB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C553C82AA9D137002BCFB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
